# Welcome to the Dark Art of Coding:
## Introduction to Python
SQL

<img src='../images/dark_art_logo.600px.png' width='300' style="float:right">

In [11]:
# First we want to import the SQL module and make a connection to a database

import sqlite3
conn = sqlite3.connect('first.db')

In [12]:
# Let's see what data type we have:

print('This object is a:', type(conn))

This object is a: <class 'sqlite3.Connection'>

Let's see what we can do with it:
using tab completion

```python
conn.<tab complete>
```

In [13]:
# Our next major step is to create a cursor
#     Cursors are a sort of "pointer" that lets 
#     us perform inquiries (as well as other things)

cur = conn.cursor()

In [14]:
# As always, let's explore this new object

print('This object is a:', type(cur))

This object is a: <class 'sqlite3.Cursor'>

Let's see what we can do with it:
using tab completion

```python
cur.<tab complete>
```

In [15]:
# NOTE: as with many other file types, once we 
#     finish interacting with our database we
#     generally need to finalize our changes, ie. *.commit() them
#     and *.close() our connection to the database.

conn.commit()
conn.close()

In [25]:
# In order to add data to a SQL database 
# we need to use special SQL commands

conn = sqlite3.connect('data.db') 

# NOTE: Your connection does not need to be 
#     named conn. It is just a commonly used name

* From now on we'll be using **two separate** syntaxes
    * **Python syntax** for how we interface with the database and send SQL commands
    * **SQL syntax** to actually insert, modify, and query data
* These are two separate languages.
* If you learn SQL commands you can generally speak to any SQL-based database

In [26]:
# First let's make a SQL command string to
#     create our first table
# This string tells SQL to create a table
#     with specific columns and sets the data type
#     that will be stored in the columns:
#     text, integer, etc

sql = '''CREATE TABLE customers (first name text,
                                 last name text,
                                 email text,
                                 age integer)'''

# NOTE: It is not necessary to make the string beforehand
# however it can be helpful and often improves the 
# readability of your code to have the SQL syntax separated
# from the Python syntax

In [27]:
# Now let's try and run this bit of SQL code

try:
    conn.execute(sql)
except:
    pass

# NOTE: in this case, I am using a syntax
#     called try/except so my script won't
#     crash if the table already exists
#     You may not need to do this...

In [28]:
# This next bit of SQL syntax adds a row of data to 
#     our database
#
# This time we put the SQL syntax directly in the 
#     the Python function. This works, but may or
#     may not impact the readability of your code
# 
# The INSERT command identifies which table to insert
#     the data into AND then the values that should be 
#     inserted. Here we use four question marks as 
#     template placeholders for the actual values
#     which are provided in the adjacent tuple
#     Using the question marks can improve readability
#     and increase security. DO IT.

conn.execute('INSERT INTO customers VALUES (?, ?, ?, ?)',
             ('Bruce', 'Wayne', 'bwayne@jleague.org', 35))

In [29]:
# This step of adding data to a table can be
#     broken up into two parts to increase readability

# Create the SQL statement to insert data 
#     into the table we made earlier "customers"
ins2 = 'INSERT INTO customers VALUES (?, ?, ?, ?)'

# Use Python to execute the SQL statement and give it some values to put in place of the question marks
conn.execute(ins2, ('Selina', 'Kyle', 'catwoman@jleague.org', 38))

# Retrieving data from a SQL database
---

To get data from a database we will use a cursor
* The `.cursor()` method is associated with the connection we make it on
* Let's take a look at the code in the following code cell
    * The `SELECT` statement is straight SQL syntax
    * It is intended to be relatively intuitive:
        * `SELECT all records FROM the customers table`
        * IN SQL, the `*` is a wildcard 
    * When the SQL is executed it returns a collection of all the records that meet any criteria
    * The for loop in Python then lets you iterate over the collection of items

In [30]:
cur = conn.cursor()   # Create the cursor

# Run the SQL code and use the for loop to
#     iterate through the rows
for row in cur.execute('SELECT * FROM customers'):        
    print(row)

conn.close()          # Close the connection once we're done

('Bruce', 'Wayne', 'bwayne@jleague.org', 35)
('Selina', 'Kyle', 'catwoman@jleague.org', 38)

In [45]:
# Building databases by hand is tedious. 
# Let's look at a way we can build a database from a csv file

conn = sqlite3.connect('customers.db')

In [46]:
# Let's create the table in our SQL database now

sql = '''CREATE TABLE customers (cust_id integer,
                                 first_name text,
                                 last_name text,
                                 email text,
                                 age integer)'''

try:
    conn.execute(sql)
except:
    pass

In [47]:
fin = open('customers.csv', 'r')

fin.readline()   # Read/eliminate header row

# Now we take our remaining csv data and add 
#     it to our SQL database

for line in fin:
    cust_id, fname, lname, email, age = line.strip().split(',')
    
    # Each set of fields can be inserted into the table, 
    #     as we iterate through the for loop
    conn.execute('INSERT INTO customers VALUES (?, ?, ?, ?, ?)',
                 (cust_id, fname, lname, email, age))

In [ ]:
# We create the curson

cur = conn.cursor()

In [49]:
# Sometimes we only need data from certain columns:

for row in cur.execute('SELECT email, age FROM customers'):
    print(row)

('bwayne@jleague.org', 35)
('skyle@jleague.org', 38)
('bgordon@jleague.org', 33)
('hjordan@jleague.org', 35)

In [39]:
# If we know we're taking multiple things from the table we can use some tuple unpacking in our for loop

for email, age in cur.execute('SELECT email, age FROM customers'):
    print('Email:', email, '\tAge:',age)

Email: bbanner@avengers.com 	Age: 35
Email: IronManGr8@avengers.com 	Age: 38
Email: nromanoff@avengers.com 	Age: 33
Email: srogers@averngers.com 	Age: 35

In [16]:
# Let's put some more data into our table

ins3 = 'INSERT INTO customers VALUES (?, ?, ?, ?, ?)'
cur.execute(ins3, (5, 'Thor', 'N/A', 'thor@valhalla.org', 33))

In [17]:
# SQL syntax allows us to filter for certain rows as well as columns using the WHERE keyword
# NOTE: SQL syntax and Python syntax are different. SQL uses a single '=' to check for equality where python uses two
# They are different syntaxes and we need to be careful

# Another way to get all of the things from a SELECT is to use the .fetchall() method
# which will return a list of matching items

cur.execute('SELECT * FROM customers WHERE age = 33')
print(cur.fetchall())

[(3, 'Natasha', 'Romanoff', 'nromanoff@avengers.com', 33), (5, 'Thor', 'N/A', 'thor@valhalla.org', 33)]

In [18]:
# We can do other equality tests as well not just the '='

for row in cur.execute('SELECT email, age FROM customers WHERE age > 34'):
    print(row)

('bbanner@avengers.com', 35)
('IronManGr8@avengers.com', 38)
('srogers@averngers.com', 35)

In [19]:
# We can have our data ordered in alphanumerical order when we get it by using the ORDER BY keyword

for row in cur.execute('SELECT * FROM customers WHERE age > 34 ORDER BY age'):
    print(row)

(1, 'Bruce', 'Banner', 'bbanner@avengers.com', 35)
(4, 'Steve', 'Rogers', 'srogers@averngers.com', 35)
(2, 'Tony', 'Stark', 'IronManGr8@avengers.com', 38)

In [21]:
# Having it in reverse is just as easy by simply putting DESC after the order parameter

for a, e in cur.execute('SELECT age, email FROM customers WHERE age > 34 ORDER BY age DESC'):
    print(a, e)

38 IronManGr8@avengers.com
35 bbanner@avengers.com
35 srogers@averngers.com

In [27]:
# If we want to update certain records we can do that using the UPDATE command and the SET command
# We can use the LIKE keyword to find things that are similar and use the % sign as a wildcard

cur.execute("UPDATE customers SET email='tstark@jleague.com' WHERE email LIKE 'IronManGr8%'")

print(cur.execute('SELECT * FROM customers WHERE age = 38').fetchall())

[(2, 'Tony', 'Stark', 'tstark@avengers.com', 38)]

In [28]:
# We can also uniquify our results using the DISTINCT keyword

for row in cur.execute('SELECT DISTINCT age FROM customers'):
    print(row)

(35,)
(38,)
(33,)

In [29]:
# TODO: descriptions for all of these

for row in cur.execute('''SELECT age, COUNT(age) AS count_col
                          FROM customers GROUP BY age'''):
    print(row)

(33, 2)
(35, 2)
(38, 1)

In [30]:
for row in cur.execute('''SELECT first_name, SUM(age) AS total
                          FROM customers GROUP BY age'''):
    print(row)

('Thor', 66)
('Steve', 70)
('Tony', 38)

In [31]:
for row in cur.execute('''SELECT email, COUNT(age) AS count
                          FROM customers
                          GROUP BY age
                          HAVING age > 34'''):
    print(row)

('srogers@averngers.com', 2)
('tstark@avengers.com', 1)

In [32]:
for row in cur.execute('''SELECT age, COUNT(age) AS count
                          FROM customers
                          GROUP BY age LIMIT 2'''):
    print(row)

(33, 2)
(35, 2)

In [33]:
cur.execute("DELETE FROM customers WHERE first_name='Natasha'")

for row in cur.execute('SELECT * FROM customers'):
    print(row)

(1, 'Bruce', 'Banner', 'bbanner@avengers.com', 35)
(2, 'Tony', 'Stark', 'tstark@avengers.com', 38)
(4, 'Steve', 'Rogers', 'srogers@averngers.com', 35)
(5, 'Thor', 'N/A', 'thor@valhalla.org', 33)

In [34]:
conn.close()